body {
	background:#fefefe url(images/body_bg.gif) repeat-x 0 -80px;
	color:#444;
	font:12px/1.55em Arial, sans-serif!important;
	margin:0; padding:0;
}	
/* Banner (top bar) classes */

.banner {background:transparent url(images/logo.gif) no-repeat 15px 5px;}

.banner-menu 
{ 
	clear: both;
	text-align:left;
	padding:0 15px;
}
.banner-menu table { background:#fff url(images/bg_topmenu.jpg) repeat-x 0 100%; border:1px solid #b7b7b7;}
.banner-menu td
{
	color:#b7b7b7;
	clear: both;
	padding:5px 10px;
	line-height:1.8;
	text-align:left!important;
}
.banner-menu td a {color:#0068b7; padding:0 4px; text-decoration:none;}
.banner-menu td a:hover {color:#df3b02; text-decoration:none;}

.banner-title 
{ 
	background:transparent url(images/tle_ecommerceevolved.gif) no-repeat 180px 23px;
	text-align: right; 
	font-size: 20px;
	font-weight: normal;
	text-transform:capitalize;
	color:#444;
	margin: .2em;
	height:30px!important;
	height:60px;
	padding:15px;
}
.banner-title  a {font-size:12px; text-transform:none;}
.package-selector 
{ 
	background-color: #AAAADD; 
	border: 1px solid black; 
	color: yellow;
}